/*
 * @Author: FangFeiyue 
 * @Date: 2017-10-12 16:04:59 
 * @Last Modified by: FangFeiyue
 * @Last Modified time: 2017-10-12 18:27:55
 */
 .address-item,
 .address-add{
     margin: 20px 20px 0 0;
     width: 200px;
     padding: 5px 10px;
     float: left;
     border: 3px dashed #ccc;
     cursor: pointer; 
 }
 .address-item.active{
     border: 3px dashed #c60023;
 }
 .address-item:hover,
 .address-add:hover{
     background-color: #fafafa;
 }
 .address-item:hover .address-opera{
     visibility: visible;
 }
 .address-item .address-title{
    color: #666;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
 }
 .address-item .address-detail{
     height: 40px;
     line-height: 20px;
     margin-top: 5px;
     overflow: hidden;
     color: #666;
 }
 .address-item .address-opera{
     visibility: hidden;
     text-align: right;
 }
 .address-item .address-opera .link{
     margin-right: 5px;
 }
 .address-add .address-new{
     padding: 8px 0;
     text-align: center;
     color: #ccc;
 }
 .address-add .address-new .fa{
    font-size: 50px;
    line-height: 50px;
 }
 .address-add .address-new .text{
    font-size: 12 px;
 }
 /* 商品清单部分 */
 .product-table{
     width: 100%;
     margin: 10px 0;
     border-collapse: collapse;
 }
 .product-table th,
 .product-table td{
     border-bottom: 1px dotted #ddd;
 }
 .product-table .cell-img{
     padding: 10px;
     width: 10%;
     text-align: center;
 }
 .product-table .cell-img .p-img{
     width: 80px;
     height: 80px;
     border: 1px solid #ddd;
 }
 .product-table .cell-info{
     width: 30%;
     text-align: left;
 }
 .product-table .cell-price{
     width: 20%;
     text-align: center;
 }
 .product-table .cell-count{
     width: 20%;
     text-align: center;
 }
 .product-table .cell-total{
     width: 20%;
     text-align: center;
 }
 /* 订单提交 */
 .submit-con{
     background-color: #eee;
     text-align: right;
 }
 .submit-con .submit-total{
     margin-right:  20px;
     font-size: 18px;
     color: #c60023;
     font-weight: bold;
     vertical-align: middle;    
}
 .submit-con .order-submit{
     height: 50px;
     line-height: 50px;
     width: 100px;
     text-align: center;
 }