<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%=htmlWebpackPlugin.options.title%>-Mall</title>
</head> 
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">Mall</a>
                <span>></span>
                <span class="link-text"><%=htmlWebpackPlugin.options.title%></span>
            </div>
        </div>
    </div> 
    <div class="page-wrap w">
        <div class="cart-header">
            <table class="cart-table">
                <tr>
                    <th class="cart-cell cell-check">
                            <label for="" class="cart-label">
                                <input type="checkbox" class="cart-select-all">
                                <span>全选</span>
                            </label>
                    </th>
                    <th class="cart-cell cell-info">商品信息</th>
                    <th class="cart-cell cell-price">单价</th>
                    <th  class="cart-cell cell-count">数量</th>
                    <th class="cart-cell cell-total">合计</th>
                    <th class="cart-cell cell-opera">操作</th>
                </tr>
            </table>
        </div>
        <div class="cart-list">
            <table class="cart-table">
                <tr>
                    <td class="cart-cell cell-check">
                        <label for="" class="cart-label">
                            <input type="checkbox" class="cart-select">
                        </label>
                    </td>
                    <td class="cart-cell cell-info">
                        <img src="" alt="" class="p-img">
                        <a href="./detail.html?productId=" class="link">xxxx </a>
                    </td>
                    <th class="cart-cell cell-info">商品信息</th>
                    <th class="cart-cell cell-price">单价</th>
                    <th  class="cart-cell cell-count">数量</th>
                    <th class="cart-cell cell-total">合计</th>
                    <td class="cart-cell cell-delete">删除</td>
                </tr>
            </table>
        </div>
        <div class="cart-footer">
            <div class="select-con">
                <input type="checkbox" class="cart-select-all">
                <span>全选</span>
            </div>
            <div class="delete-con">
                <span class="link">
                    <i class="fa fa-trash-o"></i>
                    <span>删除选中</span>
                </span>
            </div>
            <div class="submit-con">
                <span>总价：</span>
                <span class="submit-total">￥11111</span>
                <span class="btn btn-submit">去结算</span>  
            </div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>