<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%=htmlWebpackPlugin.options.title%>-Mall</title>
</head> 
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">Mall</a>
                <span>></span>
                <span class="link-text"><%=htmlWebpackPlugin.options.title%></span>
            </div>
        </div>
    </div>
    <div class="page-wrap w">
        <div class="intro-wrap">
            <div class="p-img-con">
                <div class="main-img-con">
                    <img class="main-img" src="http://img.happymmall.com/7d71fc85-1d6a-4613-b9b7-c8956d8a38d5.jpg" alt="商品详情">
                </div>
                <ul class="p-img-list">
                    <li class="p-img-item">
                        <img class='p-img' src="http://img.happymmall.com/7d71fc85-1d6a-4613-b9b7-c8956d8a38d5.jpg" alt="商品详情">
                    </li>
                </ul>
            </div>
            <div class="p-info-con">
                 <h1 class="p-name">手机</h1>
                 <p class="p-subtitile">手机手机手机</p>
                 <div class="info-item">
                     <span class="label">价格</span>
                     <span class="info-item">￥111</span>
                 </div>
                 <div class="info-item">
                     <span class="label">库存</span>
                     <span class="info-item">￥111</span>
                 </div>
                 <div class="info-item">
                     <span class="label">数量</span>
                     <input class="p-count" value="1" readonly >
                     <span class="p-count-btn plus">+</span>
                     <span class="p-count-btn minus">-</span>
                 </div>
                 <div class="info-item">
                     <a class="btn cart-add">加入购物车</a>
                 </div>
            </div>
        </div>
        <div class="detail-wrap">
            <div class="detail-tab-con">
                <ul class="tab-list">
                    <li class="tab-item">商品详情</li>
                    <li class="tab-item">商品详情</li>
                    <li class="tab-item">商品详情</li>
                </ul>
            </div>
            <div class="detail-con">detail</div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>