/*
 * @Author: FangFeiyue 
 * @Date: 2017-10-27 15:24:38 
 * @Last Modified by: FangFeiyue
 * @Last Modified time: 2017-10-27 16:17:21
 */
.order-list-table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fafafa;
    margin-bottom: 20px;
}
.order-list-table .cell{
    padding: 10px 0;
    color: #666;
    border-bottom: 1px solid #eee;
}
.order-list-table.header{
    background-color: #eee;
}
.order-list-table .order-info{
    background-color: #eee;
    padding: 10px;
    color: #999;
}
.order-list-table .order-info .order-text{
     margin-right: 25px; 
}
.order-list-table .order-info .order-num{
    font-weight: bold;
     
}
.order-list-table .order-info .order-detail{
    float: right;
}
.order-list-table .order-info .order-total{
     font-weight: bold;
     color: #c60023;
}
.order-list-table .cell-img{
    padding: 10px;
    width: 10%;
    text-align: center;
}
.order-list-table .cell-img .p-img{
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
}
.order-list-table .cell-info{
    width: 45%;
    text-align: left;
}
.order-list-table .cell-price{
    width: 15%;
    text-align: center;
}
.order-list-table .cell-count{
    width: 15%;
    text-align: center;
}
.order-list-table .cell-total{
    width: 15%;
    text-align: center;
}

