/*
 * @Author: FangFeiyue 
 * @Date: 2017-08-11 16:28:06 
 * @Last Modified by: FangFeiyue
 * @Last Modified time: 2017-08-16 18:02:31
 */
 .header .logo{
    position: absolute;
    left: 60px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
    text-decoration: none;
 }

 .header .search-con{
     padding: 40px 0 30px 250px;
 }

 .header .search-con .search-input{
     width: 550px;
     height: 40px;
     line-height: 40px;
     padding-left: 10px;
     font-size: 15px;
     border: 2px solid #c60023;
     outline: none;
 }

 .header .search-con .search-btn{
     /* 去掉Input和btn之间的空白间隙,不指定位置的话会以上一个元素的末尾作为起始位置 */
    position: absolute;
    height: 44px;
    width: 80px; 
}

/* 面包屑导航 */
.crumb{
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    color: #888;
    font-size: 14px;
    margin-bottom: 15px;
    border-top: 2px solid #c60023;
}