/*
 * @Author: FangFeiyue 
 * @Date: 2017-08-11 14:30:33 
 * @Last Modified by: FangFeiyue
 * @Last Modified time: 2017-08-16 18:08:05
 */
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom:  1px solid #ddd;
    background-color: #fff; 
}

.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}