/*
 * @Author: FangFeiyue 
 * @Date: 2017-08-11 13:03:27 
 * @Last Modified by: FangFeiyue
 * @Last Modified time: 2017-08-17 09:31:13
 */
 *{
     margin: 0;
     padding: 0;
 }

body{
    background-color: #f6f6f6;
    font: 12px/1.5 tahoma, arial,  Microsoft YaHei, sans-serif;
}

li{
    list-style: none;
}

img{
    display: block;
    border: none;
}

label{
    cursor: pointer;
}

input[type='checkbox']{
    cursor: pointer;
}

/*定宽布局  */
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    /*可用于清除浮动  */
    overflow: hidden;
}

/* pannel */
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom:  1px solid #eee;
}

.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}

.large .w{
    width: 1600px; 
}

/* 全局通用的样式 */
 /* 隐藏 */
.hide{
     display: none;
 }

 /* 超链接 */
.link{
    color: #999;
    cursor: pointer; 
    text-decoration: none;
}

.link:hover{
    color: #e80012;
}

 .link-text{
      color:#999;
      text-decoration: none; 
 }

 .btn{
     display: inline-block;
     /* ie上如果display不生效可以 */
     padding: 0 20px;
     height: 40px;
     line-height: 40px;
     vertical-align: middle;
     border: none;
     background-color:  #c60023;
     font-size:  17px;
     font-weight: bold;
     color: #fff;    
     outline: none;
     text-decoration: none;
     cursor: pointer;
}

.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size:  12px;
    padding: 0 10px; 
}

/* loading */
.loading{
    margin: 10px auto;
    display: block;
    width: 65px;
    height: 65px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url("../../image/icon/loading.gif") no-repeat;
    opacity: .6;
}

 

  




