body{
    /* background-image: url('../../image/01.jpg'); */
}

/* keywords-list */
.keywords-list{
    float: left;
    width: 240px;
    color: #fff;
    height: 350px;
    padding: 10px 0;
    margin-right: 10px;
    background-color: #666;
}

.keywords-list .keywords-item{
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    padding-left: 10px;
}

.keywords-list .keywords-item:hover{
    background-color: #999; 
}

.keywords-list .keywords-item .link{
    color: #fff;
    margin-right: 6px;
}

.keywords-list .keywords-item .link:hover{
    color: #c60023;
}

/* banner-con */
 .banner-con{
     float: left; 
     width: 830px;
     height: 370px;    
     background-color: #eee;
}

.banner-con .loading{
    margin-top: 150px;
}

.banner-con .banner-img{
    width: 100%;
    height: 370px;
}

/* banner的前一张和后一张按钮 */
.banner-con .banner-arrow{
    top: 160px;
    width: 30px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    cursor: pointer ;
    line-height: 50px;
    position: absolute;
    text-align: center;
    background-color: #ccc;
    background-color: rgba(0, 0, 0, .2);
}

.banner-con .banner-arrow.prev{
    left: 0;
}
.banner-con .banner-arrow.next{
    right: 0;
}

.banner-con .banner-arrow:hover{
    background-color: #aaa;
    background-color: rgba(0, 0, 0, .5);
}

/* floor */
.floor-wrap .floor-title{
     height: 50px;
     font-size: 20px;
     color: #d58717;
     line-height: 50px;
     font-weight: normal;
     border-bottom: 1px solid #d58717;     
}
/* 更改各楼层标题颜色 */
.floor-wrap:nth-child(2) .floor-title{
    color: #3d838c; 
    border-bottom: 1px solid #3d838c; 
}
.floor-wrap:nth-child(3) .floor-title{
    color: #a93931; 
    border-bottom: 1px solid #a93931; 
}
.floor-wrap:nth-child(4) .floor-title{
    color: #488bad; 
    border-bottom: 1px solid #488bad; 
}
.floor-wrap:nth-child(5) .floor-title{
    color: #642663; 
    border-bottom: 1px solid #642663; 
}

.floor-list{
    overflow: hidden;
    margin-right: -20px;
}

.floor-wrap .floor-item{
    float: left;
    width: 200px;
    height: 220px;  
    cursor: pointer;
    position: relative;
    margin: 15px 20px 15px 0;
    background-color: #fff;
}

.floor-wrap .floor-list .floor-item:hover{
    box-shadow: 1px 1px 7px #ddd;
}

.floor-wrap .floor-list .floor-item .floor-text{
    top: 12px;
    left: 20px;
    color: #555; 
    font-size: 16px;
    position: absolute;
}

.floor-wrap .floor-list .floor-item .floor-img{
    width: 80%;
    height: 75%;
    right: 15px;
    bottom: 10px;
    border: none;
    position: absolute;
}

 

